<div class="row mt-3">
    <div class="col-12">
      <h5>Come si gioca</h5>
      <ol>
        <li> Entra nella pagina "Gioca" che trovi nella barra di navigazione</li>
        <li> Seleziona una data di inizio e una data di fine periodo</li>
        <li> Clicca sul bottone "Cerca Film"</li>
        <li> Ti apparirano i 10 film più popolari in base al periodo scelto</li>
        <li> Troverai anche un elenco di eventi storici corrispondenti al periodo di uscita del film</li>
        <li> Clicca su uno dei 10 film della lista</li>
        <li> Vedrai tutti i dettagli relativi al film, potrai lasciare una recensione, un voto e salvarlo nella lista dei preferiti.</li>
      </ol>
    </div>
  </div>
